.footer {
  background-color: #0f172a; /* тъмна ивица */
  color: #ccc;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #222;
}

.footerleft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footerleft h2 {
  font-size: 1rem;
  margin: 0;
  color: var(--accent-yellow);
}

.footerlinks {
  display: flex;
  gap: 16px;
}

.footerlinks a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footerlinks a:hover {
  color: var(--sky-blue);
}

.footerright {
  display: flex;
  gap: 12px;
}

.footerright a {
  color: #ccc;
  margin-left: 2rem;
  font-size: 1.2rem;
  transition: color 0.2s ease, transform 0.2s ease;
}

.footerright a:hover {
  color: var(--accent-yellow);
  transform: scale(1.2);
}

/* Responsive */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6px;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
